/********************
** GENERAL
********************/
section .content {
  padding: 75px 30px;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  text-shadow: none;
}
p {
  color: #707070;
}
.btn {
  margin-top: 20px;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.black {
  color: #000 !important;
}
.white {
  color: #fff;
}
.orange {
  color: #f26722;
}
.subtle {
  color: #bec8ce;
}
.no-shadow {
  text-shadow: none !important;
}
.fa-6x {
  font-size: 6em;
}
.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
/********************
** NAV 
********************/
.navbar {
  background-color: #11103e;
  border: 0;
  /*-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.50); */
  margin: 0;
}
.navbar-brand {
  padding: 0;
}
.navbar-brand img {
  display: inline-block;
  height: 100%;
}
.navbar-default .navbar-toggle {
  border-color: #11103e;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f26722;
}
#navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}
#navbar a:hover {
  background-color: #11103e;
}
#navbar .active {
  color: #11103e;
}

/********************
** LANDING
********************/
.jumbotron-home {
  display: inline-block;
  background-image: url('/itusone/img/const-small.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 50% 0 0;
  margin-bottom: 0;
}
.content h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: left;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.98);
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.headline-first {
  opacity: 0;
}
.content h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: left;
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.98);
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.headline-second {
  opacity: 0;
}
.content .btn {
  padding: 12px 24px;
  background-color: #f26722;
  font-size: 18px;
  color: #ffffff;
}

/********************
** home-section
********************/

#home-section {
  height: auto;
  background-color: #ffffff;
}
#home-section h5 {
  color: #bec8ce;
  text-shadow: none;
  margin-top: 1px;
}
#home-section h2 {
  color: #000;
  text-shadow: none;
  margin-top: 0;
}
#home-section .content {
  padding: 75px 30px;
}
#home-section .row {
  margin-top: 15px;
}
.content p {
  margin: 0;
}
.content .break {
  margin-top: 20px;
}
.content .xlarge {
  font-size: 10em;
}

/********************
** JUMBOTRON-MISSION
********************/
.jumbotron-mission {
  display: inline-block;
  background-image: url('/itusone/img/tract-small.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 50% 0 0;
  margin-bottom: 0;
}

/********************
** MISSION SECTION
********************/
#mission-section .content {
  padding: 75px 30px;
}

/********************
** JUMBOTRON-PRODUCT
********************/
.jumbotron-product {
  display: inline-block;
  background-image: url('/itusone/img/safety-small.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 50% 0 0;
  margin-bottom: 0;
}

/********************
** PRODUCT SECTION
********************/
#product-section {
  background-color: #eff0f1;
}
#product-section .content {
  padding: 75px 30px;
}

/********************
** BETA SECTION
********************/
#beta {
  background-color: #eff0f1;
}
#beta .content {
  padding: 75px 30px;
}

/********************
** WORKFLOW SECTION
********************/
#workflow {
  background-color: #2595ff;
}
#workflow .content {
  padding: 75px 30px;
}
.diagram-glyph {
  height: 200px;
  width: 200px;
  margin: 0 auto 25px auto;
  float: none;
  border: 2px solid #fff;
  border-radius: 100%;
  clear: both;
}
.diagram-glyph .glyph {
  margin-top: 20px;
}
.diagram-glyph .fa-chevron-down {
  display: inline-block;
  margin-top: 25px;
}
.small-diagram {
  margin: 20px 0;
}

/********************
** JUMBOTRON-TEAM
********************/
.jumbotron-team {
  display: inline-block;
  background-image: url('/itusone/img/team-small.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 50% 0 0;
  margin-bottom: 0;
}

/********************
** TEAM-SECTION 
********************/
#team {
  background-color: #2595ff;
}
#team .thumbnail {
  max-width: 275px;
  border-radius: 0;
  float: none;
  margin: 10px auto 20px auto;
  box-shadow: 1px 1px 2.5px 1px rgba(112,112,112,0.5);
  -webkit-box-shadow: 1px 1px 2.5px 1px rgba(112,112,112,0.5);
  -moz-box-shadow: 1px 1px 2.5px 1px rgba(112,112,112,0.5);
  -o-box-shadow: 1px 1px 2.5px 1px rgba(112,112,112,0.5);
  -ms-box-shadow: 1px 1px 2.5px 1px rgba(112,112,112,0.5);
}

/********************
** JUMBOTRON-CONTACT
********************/
.jumbotron-contact {
  display: inline-block;
  background-image: url('/itusone/img/contact-small.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 50% 0 0;
  margin-bottom: 0;
}

/********************
** FOOTER
********************/
#contact h2 {
  margin-bottom: 50px;
}
.form-control {
  border-radius: 0;
}
textarea {
  min-height: 150px;
}

/********************
** FOOTER
********************/
footer {
  padding: 75px 30px;
}
.footer {
  background-color: #333333;
}
.footer h5 {
  color: #fff;
}
.footer-header {
  margin-top: 20px;
}
.footer p {
  color: #fff;
}
.footer ul {
  padding: 0;
}
.footer a {
  color: #ffffff;
}
@media (min-width: 400px) {

}
@media (min-width: 600px) {

}
@media (min-width: 660px) {
  /********************
  ** TEAM-SECTION 
  ********************/
  #team .thumbnail {
    height: 375px;
    float: left;
    margin: 10px;
  }
  #team .thumbnail:nth-child(odd) {
    float: right;
  }
}
@media (min-width: 320px) and (orientation: landscape) {
  .jumbotron-home {
    padding: 20% 0 0 0;
  }
  .jumbotron-team {
    padding: 20% 0 0 0;
  }
  .jumbotron-product {
    padding: 20% 0 0 0;
  }
}
@media (min-width: 750px) {
  #navbar {
    float: right;
  }
  .navbar li {
    display: inline-block;
  }
  .para {
    display: block;
    float: left;
    clear: none;
  }
  .small-diagram {
    display: none;
  }
  .diagram-glyph {
    display: block;
    float: left;
    margin: 0 15px;
    clear: none;
  }
}
@media (min-width: 1024px) {
  .jumbotron-home {
    padding: 25% 0 0 0;
  }
  .jumbotron-team {
    padding: 25% 0 0 0;
  }
  .jumbotron-product {
    padding: 25% 0 0 0;
  }
}



